/**
 * =====================================
 * Custom Sass for dashboard
 * =====================================
 * Main sass file for dashboard
 * =====================================
 */
@media screen {
  .row {
    &.divider {
      padding:10px 0;
      // margin:30px -18px;
      // border:1px solid #cecece;
      // background-color:#0fb0c0;
      label {
        cursor: pointer;
        margin-bottom:0;
        // color:#fff;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        -o-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color:transparent;
      }
      .custom-control-indicator {
        cursor: pointer;
        // // border:1px solid #fff;
        // i {
        //   // color:$white !important;
        // }
      }
    }
  }
  .date-time-wrapper {
    display: none;
  }
  .m-r-10 {
    margin-right:10px;
  }
  .preview-message {
    padding:20px 15px;
    border:1px solid #cecece;
    border-radius:3px;
    background-color:#f0f0f0;
  }
  .datepicker-days {
    .table-condensed {
      tr {
        th {
          &:nth-last-child(2) {
            width:initial;
          }
        }
      }
    }
  }
  .navbar {
    &.navbar-static-top {
      background-color: #f48434 !important;
      .cs-logo-main-wrapper {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        margin:auto;
        overflow: hidden;
        max-width: 250px;
        width: 100%;
        background-color: #2c3e50;
        text-align:center;
      }
    }
  }
  .cs-logo-wrapper {
    // position:relative;
    // display: inline-block;
    // padding-left:20px;
    // &:before,
    // &:after {
    //   position: absolute;
    //   content:"";
    //   left:0;
    //   right:0;
    //   background-color: #2c3e50;
    //   width:100%;
    //   height: 100%;
    // }
    // &:before {
    //   top:100%;
    // }
    // &:after {
    //   bottom:100%;
    // }
    h4 {
      margin-bottom:0;
      img {
        max-width:185px;
      }
    }
  }
  #left {
    background-color:#2c3e50;
    .menu_scroll {
      #menu {
        li {
          &:hover {
            background-color:#1d2935;
            -webkit-box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
            -moz-box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
            box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
          }
          &.active {
            background-color:#1d2935 !important;
            -webkit-box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
            -moz-box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
            box-shadow: inset 0px 0px 15px -3px rgba(0,0,0,0.34);
            ul {
              background-color:#384f66 !important;
              li {
                &:hover {
                  box-shadow:none;
                  background-color:#263645;
                }
              }
            }
          }
        }
      }
    }
  }
  .chzn-select {
    +.chosen-container {
      width:100%;
    }
  }
  .campaign-options {
    .chosen-container  {
      padding-right:98px;
    }
  }
  .modal .ps__rail-x { display: none !important; }
  .menu {
    margin-left: 260px;
  }
  #left {
    #menu {
      padding-top:52px;
    }
  }
  .decrease-size {
    max-width:740px;
  }
  #save_campaign {
    &:focus {
      color:$white;
    }
    &.loading {
      position:relative;
      padding-right:30px;
      &:after {
        position:absolute;
        content:"";
        top:0;
        bottom:0;
        right:5px;
        height: 16px;
        width:16px;
        margin:auto;
        @include bg_size(contain);
        background-position: center;
        background-repeat: no-repeat;
        background-image:url('#{$path-image}/spin.svg');
        z-index: 3;
      }
    }
  }
  .btn {
    &.plus-icon {
      position: absolute;
      // top: 32px;
      bottom: 0;
      right: 16px;
      z-index: 1;
      margin: auto;
      border-top-left-radius:0;
      border-bottom-left-radius:0;
      height: 36px;
      line-height: 25px;
      &:hover {
        position:absolute;
      }
      .fa {
        padding-right:5px;
      }
    }
  }

  .input-group {
    position:relative;
    .input-group-text {
      /*position: absolute;
      top:0;
      left:0;
      bottom:0;
      z-index:2;
      padding:0 13px;*/
    }

    .phone-instructions {
      // margin-left:110px;
    }

    input,
    select,
    textarea {
      /*margin-left:30px;
      padding-left:20px*/;
    }

    .chosen-single {
      position:relative;
      z-index:1;
      padding-left:10px;
    }

    .chosen-container {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
    }
  }
  
  .current-context {
    font-family: arial;
    h3 {
      margin: 0 0 5px 0;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      font-size: 16px;
    }
    h6 {
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      font-size: 12px;
    }
    &.balance {
      padding:10px 20px;
      background-color: $black;
      margin-right:10px;
    }
  }
  .cs-avatar {
    outline:none;
    outline:0;
    &:focus {
      box-shadow:none;
    }
    img {
      outline:none;
      outline:0;
      max-width:40px;
      width:100%;
      height:initial;
      border:4px solid rgba(255,255,255,0.6);
    }
    .profile-pic {
      height: 40px;
      width: 40px;
      @include bg_size(contain);
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
      //border: 4px solid rgba(255,255,255,0.6);
    }
  }
  .user-settings {
    position:relative;
    outline:none;
    outline:0;
    #cs_trigger {
      .fa {
        font-size: 35px;
        border: 5px solid #fff;
        border-radius: 100%;
        padding: 0;
        color: #cecece;
        line-height: 100%;
        margin: 0;
        box-shadow: none;
      }
    }
    .cs-dropdown {
      position:absolute;
      top:110%;
      right:0;
      width:300px;
      height:100%;
      background: #fff;
      border: 1px solid #ccc;
      border-color: rgb(241, 234, 234);
      color: #000;
      -webkit-box-shadow: 0 2px 10px rgb(241, 234, 234);
      box-shadow: 0 2px 10px rgb(241, 234, 234);
      display: none;
      outline: none;
      overflow: hidden;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color:transparent;
      height: 100%;
      &.client {
        &.one-item {
          min-height:236px;
        }
        &.two-items {
          min-height:317px;
        }
        &.default {
          min-height: 370px;
        }
      }
      &.subaccount {
        &.one-item,
        &.two-items {
          min-height:236px;
        }
        &.three-items {
          min-height:320px;
        }
        &.default {
          min-height: 370px;
        }
      }
      &.superadmin {
        min-height:153px;
      }
      &.sub-account {
        min-height: 370px;
      }
      .head-dropdown {
        width:100%;
        border-bottom:1px solid rgb(241, 234, 234);
        ul {
          padding:0;
          width:100%;
          margin:0;
          display:table;
          table-layout:fixed;
          width:100%;
          li {
            display: table-cell;
            width:auto;
            vertical-align: middle;
            padding:10px;
            font-weight: normal;
            text-transform:capitalize;
            &:first-child {
              width:100px;
              img {
                max-width:80px;
              }
              .profile-pic {
                height: 80px;
                width: 80px;
                @include bg_size(contain);
                border-radius: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: white;
                border: 4px solid rgba(255,255,255,1);
              }
            }
            &:last-child {
              color: #313131;
              font-size: 16px;
              font-weight: bold;
              ul {
                padding: 0;
                margin: 0;
                li {
                  font-size: 14px;
                  text-transform: initial;
                  padding: 0;
                  display: block;
                  width: 100%;
                  font-weight: normal;
                  .email {
                    color: #8c8383;
                  }
                  a {
                    color: #2c7ccd;
                    &:hover {
                      color: #f48434;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .body-dropdown {
        position: relative;
        width: 100%;
        height: 217px;
        ul {
          padding:0;
          width:0;
          margin:0;
          list-style:none;
          width:100%;
          li {
            width:100%;
            padding:15px 10px;
            border-bottom:1px solid rgb(241, 234, 234);
            a {
              text-decoration:none;
              color:$black;
              @include transition(.3s);
              &:hover {
                @include transition(.3s);
                color:#0fb0c0;;
              }
            }
            .table-layout {
              display:table;
              table-layout: fixed;
              width:100%;
              .item {
                display:table-cell;
                width:auto;
                vertical-align: middle;
                color:#313131;
                ul {
                  padding:0;
                  margin:0;
                  li {
                    padding:0;
                    margin:0;
                    display:block;
                    width:100%;
                    font-weight:normal;
                    font-size:11px;
                    border:0;
                    color:#adadad;
                  }
                }
                &:first-child {
                  width:60px;
                  .sub-icon {
                    @include bg_size(cover);
                    background-repeat:no-repeat;
                    background-position: center;
                    border-radius:100%;
                    max-width:50px;
                    height:initial;
                    padding:25px 0;
                    width:100%;
                    background-color:$white;
                  }
                }
              }
            }
          }
        }
      }
      .foot-dropdown {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        padding:10px;
        background-color:$white;
        .cs-logout {
          background-color:#0fb0c0;
          display:inline-block;
          width:100%;
          color:$white;
          text-align:center;
          padding:5px 10px;
          @include transition(.3s);
          &:hover {
            @include transition(.3s);
            background-color:#0b8c98;
            text-decoration:none;
          }
        }
      }
    }
  }
  .client-details-wrapper {
    position: absolute;
    left: 322px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    ul {
      font-size:0;
      padding:0;
      margin:0;
      list-style:none;
      li {
        display:inline-block;
        vertical-align: middle;
        font-size:16px;
        padding:0 5px;
        color:$white;
        text-transform:uppercase;
        letter-spacing:2px;
        .sub-icon {
          width:70px;
          height: 40px;
          @include bg_size(contain);
          background-repeat:no-repeat;
          background-position: center;
          border-radius:10px;
          border:2px solid $white;
          background-color:$white;
        }
      }
    }
  }
  body {
    font-weight:400;
    background-color: #eaeaea !important;
    .badge-success, .badge-danger, .badge-info, .badge-warning {
      text-transform: uppercase;
      position: relative;
      padding: 6px 0px;
      display: block;
      margin: 0 auto;
      width: 50%;
    }
    .fileinput {
      // display: block !important;
      width: 100% !important;
    }
    .form-inline label {
      display: initial;
      align-items:initial;
      justify-content: initial;
    }

    #user_form {
      .chosen-container-single, .chosen-container-multi {
        width: calc(100% - 37px) !important;
      }
    }
    #datatable_wrapper {
      .row {
        width:100%;
      }
    }
    #customer_listing_wrapper_wrapper {
      .row {
        &:first-child {
          height: 0;
          opacity: 0
        }
      }
    }
    .text-blast-wrapper {
      .chosen-container-single {
        width: 100% !important;
      }
    }
    select.customer-group, #account_type, #sub_account {
      height: 0px !important;
      opacity: 0 !important;
      position: absolute !important;
      display: flex !important;
      margin-top: 15px !important;
    }
    /* select:invalid[multiple] {
      margin-top: 15px !important;
    } */
    .overide-sub_account {
      &#sub_account {
        opacity:1 !important;
        height: initial !important;
        width:initial !important;
        margin-top:0 !important;
        position:relative !important;
      }
    }
    .custom-select-absolute {
      .input-group {
        position:relative;
        .input-group-text {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          height: 100%;
        }
      }
      .chosen-single {
        padding-left:50px;
      }
    }

    .customHeight, .display-recipients {
      overflow: hidden;
      height: 549px;
    }
    .data_tables {
      position: relative;
    }
    .input-error {
      border: 1px solid red;
      border-radius: 5px;
    }
    #sample_1_wrapper {
      margin: 0;
    }
    #example1_paginate {
      .pagination {
        float: left !important;
      }
    }
    #example1_length {
      select {
        margin: 0 5px;
      }
    }
    #example1_wrapper {
      .col-sm-5 {
        max-width: 29.666667%;
      }
      table.dataTable thead > tr > th.sorting {
        padding-right: 92px !important;
      }
      .row {
        .col-sm-6 {
          &:first-child {
            max-width: 52px !important;
          }
        }
      }
    }
    .estimated-label-wrapper {
      .estimated-character-count, #charNum{
        display: inline-block;
      }
      .estimated-credit-count, #creditNum {
        display: inline-block;
      }
      #charNum, #creditNum {
        font-size: 14px;
        color: red;
      }
    }
    /* shorcodes sass */
      .list-of-short-code {
        .shortcode-click {
          display: inline-block;
          font-weight: bold;
          cursor: pointer;
          font-size: 13px;
          color: #0fb0c0;
          &:hover {
            color: red;
          }
        }
        .listing {
          display: inline-block;
          position: relative;
          top: -15px;
          .ul-listing{
            @include transition_all(0.3s);
            border-right: 2px solid #ccc;
            border-left: 2px solid #ccc;
            // border-top: 1px solid #ccc;
            background-color: #fff;
            position: absolute;
            list-style: none;
            overflow-y: auto;
            margin-bottom: 0;
            height: 0;
            padding: 0;
            z-index: 9;
            li {
              border-bottom: 1px solid #ccc;
              position: relative;
              padding: 5px 15px;
              width: 230px;
              .copy-btn {
                background-color: #eee;
                border-radius: 4px;
                position: absolute;
                padding: 3px 5px;
                cursor: pointer;
                font-size: 10px;
                right: 10px;
                top: 5px;
                &:hover {
                  background-color: #e8e3e3;
                }
              }
            }
            .first-label {
              background-color: #ccc;
            }
          }
          .ul-listing.active {
            @include thumbrail(3px, #e5e5e5, #9b9b9b );
            @include transition_all(0.3s);
            height: 156px;
          }
        }
      }
    /* end */
    .number-execution {
      text-decoration: none;
      // text-align: right;
      padding: 3px 0 10px;
      display: block;
      color: #525252;
      &:hover {
        text-decoration: none;
        color: #0eb0c0;
      }
      .number{
        font-size: 14px;
      }
    }
    .span-count {
      font-size: 26px;
    }
    #cities_chosen {
      margin-bottom: 8px;
    }
    .option-hide{
      margin-bottom: 0rem;
      height: 0px;
      opacity: 0;
      .col-12 {
        height: 0;
      }
    }
    .option-hide.show{
      margin-bottom: 1rem;
      position: relative;
      height: auto;
      opacity: 1;
      .col-12 {
        height: auto;
      }
    }
    .custom_filter, .all_customer, .display-recipients {
      position: relative;
      .loader-wrapper, .cloader-wrapper {
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        z-index: 999;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        .wrap {
          text-align: center;
          display: table;
          height: 100%;
          margin: auto;
          width: 100%;
          .wap {
            vertical-align: middle;
            display: table-cell;
          }
        }
      }
      .cloader-wrapper {
        background-color: #fff;
      }
    }
    .custom-label {
      background-color: #4e4c4b;
      padding: 5px;
      color: #fff;
    }

    .main-bar {
      background-color:rgba(255,255,255,1);
      padding:15px 25px;
      text-align:left;
      &.stretch-wrapper {
        margin:-10px -20px 15px;
      }
      .breadcrumb {
        background-color:rgba(255,255,255,1);
        margin:0;
        padding:0;
        .breadcrumb-item {
          a {
            color:#17a2b8;
            @include transition(.3s);
            &:hover {
              text-decoration:none;
              color:#0e3b42;
              @include transition(.3s);
            }
          }
          &.active {
            color:#6c757d;
          }
        }
      }
    }
    
  }
}
