@media screen {
  .ac-wrapper {
    .ac-wrap {
      margin-bottom: 10px;
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
          padding: 0 2.5px;
          &.left {
            width: 100%;
          }
        }
      }
    }
  }

  span.required {
    color: red;
  }

  .multi-client {
    margin-top: 20px;
  }

  .chosen-container-multi .chosen-choices {
    padding: 3px 5px;
  }
}