// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "mixins";
@import 'admin';
@import 'clients';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Preloaders
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  backface-visibility: hidden;
  background: #ffffff;

  .preloader-img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 48%;
    top: 48%;
    background-position: center;
    z-index: 999999

    img {
      width: 40px;
    }
  }
}

.outer {
  margin-top: 0;
}

.error-notif {
  color: red;
  font-size: 13px;
  padding-left: 2px;
}

.ui-pnotify.alert-danger {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid #FF3333;
}

.ui-pnotify.alert-success {
  background-color: rgba(0, 204, 153, 0.9);
  border: 1px solid #009973;
}


.form-control {
  &.error {
    border-color: #FF3333;
  }
}

.btn-action {
  font-size: 12px !important;
  min-width: 75px;
  padding: 1px !important;
}

#top {
  .navbar {
    background-color: #2e9233 !important;
  }
}

.card-header {
  &.light-orange {
    background-color: rgba(244, 132, 52, .8);
    color: #ffffff;
  }
  &.dark-blue {
    background-color: #024a6a;
    color: #ffffff;
  }
  &.green {
    background-color: #2e9233;
    color: #ffffff;
  }
  &.border-top-green {
    background-color: #fff;
    border-top: 4px solid #2e9233;
    color: #000;
  }
  &.border-top-green-md {
    background-color: #fff;
    border-top: 2px solid #2e9233;
    color: #000;
  }
  &.border-top-db {
    background-color: #fff;
    border-top: 4px solid #024a6a;
    color: #000;
  }
  &.border-top-db-md {
    background-color: #fff;
    border-top: 2px solid #024a6a;
    color: #000;
  }
  &.border-top-orange {
    background-color: #fff;
    border-top: 2px solid #f48434;
    color: #000;
  }
}

body {
  .main-bar {
    .breadcrumb {
      .breadcrumb-item {
        a {
          //color: #f48434;
          color: #024a6a;
        }
      }
    }
  }
}

.user-settings {
  .cs-dropdown {
    .foot-dropdown {
      .cs-logout {
        background-color: #f48434;
        &:hover {
          background-color: #2c7ccd;
        }
      }
    }
  }
}

@media screen {
  // index title
  .page-title {
    padding: 15px 0 0;
  }

  // filter/button style
  .filter-and-button-wrapper {
    .filter-wrap {
      display: flex;
      margin: 0 -2.5px;
      .left {
        padding: 2.5px;
        width: 50%;
      }
      .middle {

      }
      .right {
        padding: 2.5px;
      }
    }
    .add-wrap {
      text-align: right;
      .btn-add {
        font-size: 16px;
        i {
          padding-right: 4px;
        }
      }
    }
  }

  .center-action {
    text-align: center;
  }

  .chosen-container-single {
    .chosen-single {
      height: 32px;
      line-height: 32px;
    }
  }

  .chosen-container-single {
    .chosen-single {
      div {
        top: 3px;
      }
    }
  }

  body {
    .bg-container {
      @media (min-width: 1200px) {
        padding-bottom: 200px;
      }
    }
  }

  .req-wrap {
    display: flex;
    margin: 0 -7.5px;
    .wrap {
      padding: 0 7.5px;
      &.left {
        width: 100%;
      }
    }
  }

  .add-req-wrap {
    padding-top: 30px;
    a {
      i {
        padding-right: 5px;
      }
    }
  }

  .add-permit-wrap {
    display: flex;
    margin: 0 -7.5px;
    .p-wrap {
      padding: 0 7.5px;
      &.left {
        width: 100%;
      }
      &.right {
        .btn-add-permit {
          padding: 7px 0.75rem 6px;
        }
      }
    }
  }

  .permit-content-wrapper {
    background-color: #eaeaea;
    border-top: 3px solid #024a6a;
    padding: 15px 10px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    .parent-permit {
      margin-bottom: 30px;
      position: relative;
      a.close {
        background-color: #ff5a62;
        border-radius: 50%;
        color: #fff;
        height: 25px;
        opacity: 1;
        padding: 3px;
        position: absolute;
        right: -22px;
        text-align: center;
        top: -30px;
        width: 25px;
        &:hover {
          opacity: 1;
        }
      }
      ul.permit-head {
        list-style: none;
        margin: 0 -2.5px 15px;
        padding: 0;
        li {
          display: inline-block;
          padding: 0 2.5px;
          vertical-align: middle;
          &:first-child {
            padding-right: 15px;
            h4 {
              margin-bottom: 0;
            }
          }
        }
      }
      ul.permit-fields {
        font-size: 0;
        list-style: none;
        margin: 0 -5px 15px;
        padding: 0;
        li {
          display: inline-block;
          padding: 0 5px;
          vertical-align: top;
          width: 25%;
        }
      }
      ul.other-field {
        font-size: 0;
        list-style: none;
        margin: 0 -5px 15px;
        padding: 0;
        li.of-wrap {
          display: inline-block;
          padding: 0 5px;
          position: relative;
          vertical-align: top;
          width: 33.33%;
          input {
            font-size: 13px;
          }
          select {
            height: 32px;
          }
        }
      }
    }
    .prereq-permit {
      .prereq-wrap {
        background-color: #fff;
        //border-top: 2px solid #2e9233;
        //margin-bottom: 30px;
        margin: 30px 50px;
        padding: 15px 10px;
        position: relative;
        a.close {
          background-color: #ff5a62;
          border-radius: 50%;
          color: #fff;
          font-size: 12px;
          height: 20px;
          opacity: 1;
          padding: 3px;
          position: absolute;
          right: -7px;
          text-align: center;
          top: -14px;
          width: 20px;
        }
        .upper-fields {
          display: flex;
          margin: 0 -10px 15px;
          .uf-wrap {
            padding: 0 10px;
            &.left {
              width: 40%;
            }
            &.right {
              align-self: flex-end;
              width: 60%;
              ul.btn-wrap {
                //font-size: 0;
                align-items: flex-end;
                display: flex;
                list-style: none;
                margin: 0 -5px;
                padding: 0;
                li {
                  display: inline-block;
                  padding: 0 5px;
                  &.left {
                    width: 35%;
                    input {
                      font-size: 13px;
                    }
                    a {
                      width: 100%;
                    }
                  }
                  &.middle {
                    width: 35%;
                    a {
                      width: 100%;
                    }
                  }
                  &.right {
                    width: 30%;
                    span.radio_switchery_padding {
                      font-size: 14px;
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        ul.date-fields {
          font-size: 0;
          list-style: none;
          margin: 0 -5px;
          padding: 0;
          li {
            display: inline-block;
            padding: 0 5px;
            width: 25%;
          }
        }
      }
    }
    .add-prereq-btn {
      a {
        width: 100%;
      }
    }
  }

  ul.chosen-choices {
    &.error {
      border-color: #FF3333;
    }
  }

  .proj-perm {
    display: none;
  }

  select.chzn-select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
  }

  select.chzn-select:invalid[multiple] {
      margin-top: 15px !important;
  }

  .login-wrapper {
    .login_logo {
      //background-color: rgba(46, 146, 51, 0.8);
      background-color: #2e9233;
      padding: 10px 0;
      img {
        width: auto;
        height: auto;
        margin-bottom: 10px;
      }
    }
    .form-control {
      height: 37.5px;
    }
    .input-group {
      span.input-group-text {
        min-width: 35px;
        justify-content: center;
        padding: 0.375rem 0;
      }
    }
    .btn {
      height: 35.5px;
    }
  }

  span.proj-dc {
    display: block;
    text-align: right;
    b {
      padding-right: 5px;
    }
  }

  .card-info-wrap {
    padding-bottom: 15px;
    p {
      font-size: 16px;
    }
  }

  .cp-btn-wrapper {
    font-size: 0;
    list-style: none;
    margin: 0 -2.5px;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 2.5px;
      vertical-align: middle;
      width: 50%;
      a {
        display: block;
      }
    }
  }

  .permit-title {
    color: #024a6a;
    margin-bottom: 0;
  }

  .bg-dirty-white {
    background-color: #f8f8f8 !important;
  }

  ul.mc-date-range {
    display: flex;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li {
      padding: 0 5px;
      &.left {
        width: 100%;
        &.show {
          width: 40%;

        }
        select {
          height: 32.66px !important;
        }
      }
      &.right {
        width: 60%;
      }
    }
  }

  .dash-table {
    a {
      color: #024a6a;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: #2e9233;
      }
    }
  }

  .table-striped {
    thead {
      tr {
        th {
          position: relative;
        }
      }
    }
  }

  .status-red {
    color: #EA423E;
  }

  .status-green {
    color: #38c172;
  }

  .chosen-container-single {
    .chosen-single {
      background: #fff !important;
      border: 1px solid #ced4da !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }

  .permit-modal {
    .modal-dialog {
      .modal-content {
        .modal-header {
          ul.mh-wrap {
            display: flex;
            list-style: none;
            padding: 0;
            width: 100%;
            li {
              display: inline-block;
              &.left {
                width: 90%;
              }
              &.right {
                width: 10%;
                .close {
                  outline: none;
                }
              }
            }
          }
        }
        .modal-body {

        }
        .modal-footer {

        }
      }
    }
  }

  .add-notes-wrap {
    &.padding-top {
      padding-top: 15px;
    }
    .notes-btn-wrap {
      text-align: left;
      a {
        color: #024a6a;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: #2e9233;
        }
      }
    }
    .notes-wrap {
      padding-top: 15px;
    }
  }

  .project-date-details {
    padding-top: 15px;
    p {
      color: #000;
      em {

      }
      sub {
        display: block;
      }
    }
  }

  #top {
    .navbar-brand {
      padding-top: 5px !important;
      img {
        max-width: 100%;
        width: auto;
        height: 54px;
      }
    }
  }

  .permit-cat {
    display: flex;
    margin: 0 -5px;
    align-items: flex-end;
    li {
      display: inline-block;
      padding: 0 5px;
      &.left {
        width: 80%;
      }
      &.right {
        width: 20%;
        a.btn {
          display: block;
        }
      }
    }
  }

  .project-filter-wrap {
    display: flex;
    margin: 0 -5px;
    .pf-wrap {
      display: inline-block;
      padding: 0 5px;
      &.left {
        width: 30%;
      }
      &.middle {
        width: 30%;
      }
      &.right {
        width: 20%;
      }
    }
  }

  .proj-created-filter {
    display: flex;
    margin: 0 -5px;
    .pcf-wrap {
      display: inline-block;
      padding: 0 5px;
      &.first {
        width: 20%;
      }
      &.second {
        width: 20%;
      }
      &.third {
        width: 20%;
      }
      &.fourth {
        width: 30%;
      }
      &.fifth {
        width: 10%;
      }
    }
  }

  #select_permit_chosen
  {
    &.error {
      .chosen-choices {
        border: 1px solid red !important;
      }
    }
  }

  #menu-toggle {
    display: none;
  }

  .tbl-title-link {
    color: #024a6a;
    font-weight: bold;
    text-decoration: none !important;
    transition: all 0.3s ease;
    &:hover {
      color: #2e9233;
    }
  }

  p.notice {
    color: red;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
  }

  a.ref-color {
    color: #024a6a;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: #2e9233;
    }
  }

  .add-red {
    color: red;
  }

  .client-menu-top {
    background-color: #2c3e50;
    margin: -10px -20px 10px;
    ul.client-menu {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 10px 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #fff;
          text-decoration: none;
          padding: 10px;
          transition: all 0.3s ease;
          i {
            padding-right: 5px;
          }
          &:hover {
            background-color: #1d2935;
          }
        }
      }
    }
  }

  .client-project {
    p {
      font-size: 15px;
    }
  }

  .assign-master {
    margin-bottom: 15px;
  }

  .permit-file-modal {
    .modal-dialog {
      @media (min-width: 576px){
        max-width: 1080px;
        &.client {
          max-width: 700px;
        }
      }
      .modal-content {
        .modal-header {
          ul.mh-wrap {
            display: flex;
            list-style: none;
            margin-bottom: 0;
            padding: 0;
            width: 100%;
            li {
              display: inline-block;
              vertical-align: middle;
              &.left {
                width: 80%;
              }
              &.right {
                width: 20%;
              }
              .close {
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  .permit-file-wrapper {
    margin-bottom: 15px;
    padding: 5px 10px;
    position: relative;
    .file-close {
      background-color: #ff5a62;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      height: 15px;
      opacity: 1;
      position: absolute;
      right: 4px;
      text-align: center;
      top: 22px;
      width: 15px;
      z-index: 1;
    }
    .file-preview {
      background-color: #fff;
      .fileinput-remove {
        display: none;
        right: 5px;
        top: 5px;
      }
      .file-drop-zone {
        .file-preview-thumbnails {
          .file-preview-frame {
            .kv-file-content {
              img {
                margin: 0 !important;
                max-height: 160px !important;
                width: auto !important;
              }
            }
          }
        }
      }
    }
  }

  .prereq-head-open {
    background-color: #f48434;
    .permit-title {
      color: #fff;
    }
  }

  .prereq-head-close {
    background-color: #2e9233;
    .permit-title {
      color: #fff;
    }
  }

  .prereq-body-open {
    border: 1px solid #f48434;
  }

  .prereq-body-close {
    border: 1px solid #2e9233;
  }

  #sms-alert {
    color: red;
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 2px;
    span {
      display: block;
    }
  }

}